{% extends 'templates/app.twig' %}

{% block content %}
    <nav class="inside-crumbs">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ base_url() }}/hopital/{{ infos.hospital.id }}/infos" class="breadcrumb"><span class="icon-hospital little"></span> {{ infos.hospital.nom }}</a>
                <a href="#" class="breadcrumb">Informations</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col s12">
            <h5>Choix de garde</h5>
            <blockquote>
                Date: <b>{{ infos.date }}</b>
                <br>Lieu: <b>{{ infos.lieu }}</b>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Infos générales</h5>
            <blockquote>
                {{ infos.general | raw }}
            </blockquote>
            <a class="waves-effect waves-light btn">Modifier</a>
        </div>
    </div>

{% endblock %}