<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="{{ path_for('home') }}" class="brand-logo">Stages</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse" title="Menu mobile"><i class="material-icons">menu</i></a>
        {% if auth.check %}
            <a href="#" data-activates="slide-out" class="button-collapse hospital right" title="Hôpitaux"><i class="material-icons">business</i></a>
        {% endif %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if auth.check %}
                <li class="nav__username"><a href="{{ path_for('user.profil') }}" title="Profil">Georges Dubreuil</a>
                </li>
                <li><a href="{{ path_for('auth.signout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path_for('auth.signin') }}">Connexion</a></li>
                <!--<li><a href="">Inscription</a></li>-->
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            {% if auth.check %}
                <li class="nav__username"><a href="{{ path_for('user.profil') }}" title="Profil">Georges Dubreuil</a>
                </li>
                <li><a href="{{ path_for('user.profil') }}">Profil</a></li>
                <li><a href="{{ path_for('auth.signout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path_for('auth.signin') }}">Connexion</a></li>
                <!--<li><a href="">Inscription</a></li>-->
            {% endif %}
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li><a class="subheader"><i class="material-icons">business</i> Hôpitaux</a></li>
    <li id="rootHospital" class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header"><span class="hospital__name">Miaow</span><i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="hospital__info" href="">Informations</a></li>
                        <li><a class="hospital__gardes" href="">Liste des gardes</a></li>
                        <li><a class="hospital__echanges" href="">Échanges<span
                                        class="badge blue lighten-5">3</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<script>
    var req = new XMLHttpRequest();
    var rootHospital = document.getElementById('rootHospital');
    var ul = document.getElementById('slide-out');

    req.onreadystatechange = function(event) {
        if (this.readyState === XMLHttpRequest.DONE) {
            if (this.status === 200) {
                var hospitals = JSON.parse(this.responseText);
                for(var i = 0; i < hospitals.length; i++){
                    var newElem = rootHospital.cloneNode(true);
                    newElem.id = "hospital"+hospitals[i].id;
                    newElem.querySelector('.hospital__name').innerHTML = hospitals[i].nom;
                    newElem.querySelector('.hospital__info').href = "/stagesULB/public/hopital/"+hospitals[i].id+"/infos";
                    newElem.querySelector('.hospital__gardes').href = "/stagesULB/public/hopital/"+hospitals[i].id+"/gardes";
                    newElem.querySelector('.hospital__echanges').href = "/stagesULB/public/hopital/"+hospitals[i].id+"/offres";
                    ul.appendChild(newElem);
                }
                // Regen materialize
                $('.collapsible').collapsible({
                    accordion : true
                });
                // Delete root elem
                rootHospital.outerHTML = "";
            } else {
                // oops
                console.log("Status de la réponse: %d (%s)", this.status, this.statusText);
            }
        }
    };

    req.open('GET', '{{ base_url() }}/api/hospitalList', true);
    req.send(null);
</script>
