<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="{{ path_for('home') }}" class="brand-logo">Stages ULB</a>
      {% if auth.check %}
      <a href="#" data-activates="slide-out" class="button-collapse hospital"><i class="material-icons">business</i></a>
      {% endif %}
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if auth.check %}
          <li class="nav__username"><a href="{{ path_for('user.profil') }}" title="Profil">Georges Dubreuil</a></li>
          <li><a href="{{ path_for('auth.signout') }}">Déconnexion</a></li>
        {% else %}
          <li><a href="{{ path_for('auth.signin') }}">Connexion</a></li>
          <!--<li><a href="">Inscription</a></li>-->
        {% endif %}
    </ul>
    <ul class="side-nav" id="mobile-demo">
        {% if auth.check %}
            <li class="nav__username"><a href="{{ path_for('user.profil') }}" title="Profil">Georges Dubreuil</a></li>
          <li><a href="{{ path_for('user.profil') }}">Profil</a></li>
          <li><a href="{{ path_for('auth.signout') }}">Déconnexion</a></li>
        {% else %}
          <li><a href="{{ path_for('auth.signin') }}">Connexion</a></li>
            <!--<li><a href="">Inscription</a></li>-->
        {% endif %}
    </ul>
  </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li><a class="subheader"><i class="material-icons">business</i> Hôpitaux</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Hospi<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/stagesULB/public/hopital/2/infos">Informations</a></li>
                        <li><a href="/stagesULB/public/hopital/2/gardes">Liste des gardes</a></li>
                        <li><a href="/stagesULB/public/hopital/2/offres">Échanges<span class="badge blue lighten-5">3</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Hospi2 <i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/stagesULB/public/hopital/2/infos">Informations</a></li>
                        <li><a href="/stagesULB/public/hopital/2/gardes">Liste des gardes</a></li>
                        <li><a href="/stagesULB/public/hopital/2/offres">Échanges<span class="badge blue lighten-5">3</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Hospi3 <i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/stagesULB/public/hopital/2/infos">Informations</a></li>
                        <li><a href="/stagesULB/public/hopital/2/gardes">Liste des gardes</a></li>
                        <li><a href="/stagesULB/public/hopital/2/offres">Échanges<span class="badge blue lighten-5">3</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
